@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import PrimeReact & Icons setelah Tailwind */
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

/* Style tambahan */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
